*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.stick{
    overflow-y:hidden;
}
.hide{
    display: none;
}
h1,h2,p{
    font-family: Inter, sans-serif;
}
.navbar{
    z-index: 5;
    background-color: white;
    position:fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75px;
    border-bottom: 1.5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style:solid;
}
.navbar_links_container{
    display: none;
}

.navbar_lines{
    width: 60px;
    height: 60px;
}
.navbar_flag{
    display: none;
}
.navbar_logo{
    width: 85px;
    height: 70px;
}
.navbar_div{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_div_moonicon{
    width: 24px;
    height: 24px;
}
.navbar_div_moonicon:hover{
    fill: black;
}
.navbar_div_sunicon{
    width: 24px;
    height: 24px;
}
.navbar_div_languageicon{
    width: 24px;
    height: 24px;
}

.menu{
    position: absolute;
    z-index: 4;
    height: 100vh;
    width: 100%;
    top: 60px;
    background-color: rgba(221, 221, 221, 0.8);
}

.menu_container{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    justify-content: space-around;
}

.menu_container_text_container{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

.menu_container_text_container,
.menu_container_text_container:link,
.menu_container_text_container:visited,
.menu_container_text_container:hover,
.menu_container_text_container:active{
    text-decoration: none;
    color: #424242;
}


.division_menu{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.division_menu_line{
    width: 85%;
    background-color: #8f8f8f;
    height: 1.5px;
}

.language{
    position: absolute;
    z-index: 0;
    height: 94vh;
    width: 100%;
    top: 60px;
    background-color: rgba(221, 221, 221, 0.8);
    padding-top: 50px;
}

.language_container{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.language_container_text_container{
    font-size: 25px;
    font-weight: 800;
}

.division_language{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.division_language_line{
    width: 85%;
    background-color: #8f8f8f;
    height: 1.5px;
}
.section_video{
    display: none;
}

.section_news{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    opacity: 0;
}

.section_news_title{
    margin-left: 35px;
    color: #585858;
    font-weight: 800;
    margin-bottom: 10px;
}

.section_news_newscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section_news_newscontainer_arrow_left{
    display: none;
    width: 24px;
    height: 24px;
}
.section_news_newscontainer_arrow_right{
    display: none;
    width: 24px;
    height: 24px;
}
.section_news_newscontainer_contentcontainer{
    width: 100%;
    height: 100%;
}
.section_news_newscontainer_contentcontainer_imgcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
}
.section_news_newscontainer_contentcontainer_imgcontainer_img1,
.section_news_newscontainer_contentcontainer_imgcontainer_img2,
.section_news_newscontainer_contentcontainer_imgcontainer_img3{
    width: 100%;
    height: 26.5%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.section_news_newscontainer_contentcontainer_imgcontainer_description1,
.section_news_newscontainer_contentcontainer_imgcontainer_description2,
.section_news_newscontainer_contentcontainer_imgcontainer_description3{
    background-color: #006347;
    color: white;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.section_news_selection_div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12;
    margin-top: 10px;

}

.section_news_selection_div_option_1{
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
}
.section_news_selection_div_option_2{
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s ease-in-out;
}
.section_news_selection_div_option_3{
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
}

.division_1_2{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}

.division_1_2_line{
    width: 85%;
    background-color: #B7B7B7;
    height: 1.5px;
}



.section_products{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 100;
}

.section_products_title{
    color: #585858;
}

.section_products_container_product1_name{
    margin-left: 35px;
    width: 122px;
    height: 44px;
    font-size: 18px;
    color: #8C8C8C;
}

.section_products_container_product1{
    width: 100%;
}
.section_products_container_product1_imgcontainer{
    margin-top: 10px;
    height: 164px;
    width: 100%;
    display: flex;
}
.section_products_container_product1_imgcontainer_elemenstcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 45%;
    margin-left: 1.2%;
}
.section_products_container_product1_imgcontainer_elemenstcontainer_arrow_left{
    height: 24px;
    width: 24px;
}
.section_products_container_product1_imgcontainer_elemenstcontainer_img1,
.section_products_container_product1_imgcontainer_elemenstcontainer_img2,
.section_products_container_product1_imgcontainer_elemenstcontainer_img3{
    opacity: 0;
    left: 7.5%;
    height: 164px;
    width: 140px;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}
.section_products_container_product1_imgcontainer_elemenstcontainer_arrow_right{
    height: 24px;
    width: 24px;
}
.section_products_container_product1_descriptioncontainer1,
.section_products_container_product1_descriptioncontainer2,
.section_products_container_product1_descriptioncontainer3{
    opacity: 0;
    width: 50%;
    height: 164px;
    left: 50%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}
.section_products_container_product1_description_name1,
.section_products_container_product1_description_name2,
.section_products_container_product1_description_name3{
    display: none;
}
.section_products_container_product1_descriptioncontainer1_description,
.section_products_container_product1_descriptioncontainer2_description,
.section_products_container_product1_descriptioncontainer3_description{
    color: #8C8C8C;
    font-size: 12px;
    font-weight: 200;
    width: 100%;
}
.section_products_container1_descriptioncontainer_details1,
.section_products_container1_descriptioncontainer_details2,
.section_products_container1_descriptioncontainer_details3{
    color: #585858;
    font-size: 12px;
    font-weight: 400;
}

.section_products_product1_selection_div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;

}

.section_products_product1_selection_div_option_1,
.section_products_product1_selection_div_option_2,
.section_products_product1_selection_div_option_3{
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
}
.section_products_product1_selection_div_option_2{
    margin-left: 5px;
    margin-right: 5px;
}

.section_products_container_product2_name{
    margin-left: 35px;
    width: 140px;
    height: 44px;
    font-size: 18px;
    color: #8C8C8C;
}

.section_products_container_product2{
    width: 100%;
}
.section_products_container_product2_imgcontainer{
    margin-top: 10px;
    height: 164px;
    width: 100%;
    display: flex;
}
.section_products_container_product2_imgcontainer_elemenstcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 45%;
    margin-left: 1.2%;
}
.section_products_container_product2_imgcontainer_elemenstcontainer_arrow_left{
    height: 24px;
    width: 24px;
}
.section_products_container_product2_imgcontainer_elemenstcontainer_img1,
.section_products_container_product2_imgcontainer_elemenstcontainer_img2,
.section_products_container_product2_imgcontainer_elemenstcontainer_img3{
    opacity: 0;
    left: 7.5%;
    height: 164px;
    width: 140px;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}
.section_products_container_product2_imgcontainer_elemenstcontainer_arrow_right{
    height: 24px;
    width: 24px;
}
.section_products_container_product2_descriptioncontainer1,
.section_products_container_product2_descriptioncontainer2,
.section_products_container_product2_descriptioncontainer3{
    opacity: 00;
    width: 50%;
    height: 164px;
    left: 50%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}
.section_products_container_product2_description_name1,
.section_products_container_product2_description_name2,
.section_products_container_product2_description_name3{
    display: none;
}
.section_products_container_product2_descriptioncontainer1_description,
.section_products_container_product2_descriptioncontainer2_description,
.section_products_container_product2_descriptioncontainer3_description{
    color: #8C8C8C;
    font-size: 12px;
    font-weight: 200;
    width: 100%;
}
.section_products_container_product2_descriptioncontainer_details1,
.section_products_container_product2_descriptioncontainer_details2,
.section_products_container_product2_descriptioncontainer_details3{
    color: #585858;
    font-size: 12px;
    font-weight: 400;
}

.section_products_product2_selection_div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;

}

.section_products_product2_selection_div_option_1,
.section_products_product2_selection_div_option_2,
.section_products_product2_selection_div_option_3{
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
}
.section_products_product2_selection_div_option_2{
    margin-left: 5px;
    margin-right: 5px;
}

.division_2_3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}

.division_2_3_line{
    width: 85%;
    background-color: #B7B7B7;
    height: 1.5px;
}

.section_about_us{
    width: 100%;
    opacity: 0;
}
.section_about_us_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_about_us_division{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.section_about_us_division_line{
    width: 85%;
    background-color: #B7B7B7;
    height: 1.5px;
}

.section_about_us_background1{
    width: 100%;
    height: 200px;
    background-image:url('./assets/Diseño_verde.jpg');
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.section_about_us_background1_image,
.section_about_us_background2_image,
.section_about_us_background3_image{
    display: none;
}
.section_about_us_background2{
    width: 100%;
    height: 200px;
    background-image:url('./assets/Diseño_amarillo.jpg');
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}
.section_about_us_background3{
    width: 100%;
    height: 200px;
    background-image:url('./assets/Diseño_marron.jpg');
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.division_3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.division_3_line{
    width: 85%;
    background-color: #B7B7B7;
    height: 1.5px;
}
.section_about_us_selection_div{
    display: none;
}
.section_gallery{
    opacity: 0;
}
.section_gallery_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.section_gallery_imgcontainer{
    display: none;
}
.section_gallery_container_title{
    color: #585858;
    margin-left: 35px;
}

.section_gallery_container_arrow{
    width: 20px;
    height: 20px;
    margin-right: 35px;
}

.section_contact{
    width: 100%;
    height: 55px;
    background-color: #B7B7B7;
}
.section_contact_container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}

.section_contact_container_whatsapp{
    display: flex;
    align-items: center;
}
.section_contact_container_whatsapp_icon{
    width: 30px;
    height: 30px;
}
.section_contact_container_whatsapp_number{
    font-size: 11px;
    margin-left: 3px;
    font-weight: 800;
}
.section_contact_container_whatsapp_copyright{
    display: none;
}
.section_contact_container_socialmedia{
    display: flex;
    align-items: center;
}

.section_contact_container_socialmedia_tiktok{
    width: 30px;
    height: 30px;
}
.section_contact_container_socialmedia_twitter{
    width: 30px;
    height: 30px;
}
.section_contact_container_socialmedia_instagram{
    width: 30px;
    height: 30px;
}
.section_contact_container_socialmedia_facebook{
    width: 30px;
    height: 30px;
}
.section_contact_container_socialmedia_tiktok_paragraph,
.section_contact_container_socialmedia_twitter_paragraph,
.section_contact_container_socialmedia_instagram_paragraph,
.section_contact_container_socialmedia_facebook_paragraph{
    display: none;
}
@media (min-width: 1080px){
    .navbar_lines{
        display: none;
    }
    .navbar_flag{
        display: block;
        width: 33px;
        height: 22px;
        justify-content: space-around;
    }
    .navbar_links_container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }
    .navbar_links_container_text{
        padding: 10px;
        height: 75%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        font-size: 30px;
        transition: 0.25s ease-in-out;
        padding: 0;
    }
    .navbar_links_container_text a,
    .navbar_links_container_text a:link,
    .navbar_links_container_text a:visited,
    .navbar_links_container_text a:active{
        text-decoration: none;
        color: #585858;
        height: 100%;
        width: 100%;
    }
    .navbar_links_container_text_links{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .navbar_links_container_text a:hover{
        color: white;
    }
    .navbar_links_container_text:hover{
        background-color: #006347;
        border-radius: 20px;
    }
    .navbar_div{
        width: 5%;
    }
    .section_video{
        display: block;
    }
    .section_video_background{
        width: 100%;
        height: 75vh;
        padding-top: 75px;
        background-image: url("./assets/background_desktop.jpg");
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .section_video_background_video_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
    }
    .section_video_background_video_container_video{
        border-style:solid;
        border-width: 10px;
        border-color: white;
        width: 95%;
    }
    .section_video_background_welcome_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 70%;
    }
    .section_video_background_welcome_container_background{
        background-color: white;
        position:absolute;
        border-radius: 100%;
        top: 20%;
        right: 16.4%;
        width: 180px;
        height: 180px;
        animation: palpitacion 3s ease-in-out infinite;
    }
    .section_video_background_welcome_container_logo{
        z-index: 1;
        width: 217px;
        height: 164px;
    }
    .section_video_background_welcome_container_description{
        width: 50%;
        color: white;
        text-align: justify;
        font-weight: 800;
    }
    .section_video_background_socialmedia{
        height: 20%;
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: space-around;
    }
    .section_video_background_socialmedia_tiktok{
        animation: shake_icon 4s infinite  ease-in-out;
    }
    .section_video_background_socialmedia_twitter{
        animation: shake_icon 4s infinite 1s ease-in-out;
    }
    .section_video_background_socialmedia_instagram{
        animation: shake_icon 4s infinite 2s ease-in-out;
    }
    .section_video_background_socialmedia_facebook{
        animation: shake_icon 4s infinite 3s ease-in-out;
    }
    .section_video_background_socialmedia_tiktok,
    .section_video_background_socialmedia_twitter,
    .section_video_background_socialmedia_instagram,
    .section_video_background_socialmedia_facebook{
        width: 50px;
        height: 50px;
        fill: white;
    }
    .section_video_background_socialmedia_tiktok:hover,
    .section_video_background_socialmedia_twitter:hover,
    .section_video_background_socialmedia_instagram:hover,
    .section_video_background_socialmedia_facebook:hover {
        transform: scale(1.5);
    }
    .division_0_1{
        margin-top: 50px;
        margin-bottom: 25px;
    }
    
    .division_0_1_line{
        width: 85%;
        background-color: #B7B7B7;
        height: 1.5px;
    }
    .language{
        z-index: 2;
        top: 75px;
        width: 20%;
        right: 1%;
        height: 50vh;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .language_container{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .language_container_text_container{
        font-size: 15px;
        font-weight: 800;
    }
    .section_news{
        padding: 0;
        display: flex;
        flex-direction: column;
        transition: opacity 0.5s ease-in-out;
        height: 500px;
    }
    .section_news_title{
        font-size: 48px;
        margin-left: 70px;
        color: #585858;
        font-weight: 800;
    }
    .section_news_newscontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .section_news_newscontainer_arrow_left{
        display: block;
        width: 94px;
        height: 94px;
        animation: palpitacion 3s ease-in-out infinite;
    }
    .section_news_newscontainer_arrow_right{
        display: block;
        width: 94px;
        height: 94px;
        animation: palpitacion 3s ease-in-out infinite;
    }
    .section_news_newscontainer_contentcontainer{
        display: flex;
        height: 100%;
        justify-content: space-around;
        width: 100%;
    }
    .section_news_newscontainer_contentcontainer_imgcontainer{
        order: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-left: 38%;
        width: 55%;
        height: 100%;
    }
    .section_news_newscontainer_contentcontainer_imgcontainer_img1,
    .section_news_newscontainer_contentcontainer_imgcontainer_img2,
    .section_news_newscontainer_contentcontainer_imgcontainer_img3{
        position: absolute;
        width: 572px;
        height: 365px;
        right: 11%;
    }
    .section_news_newscontainer_contentcontainer_imgcontainer_description1,
    .section_news_newscontainer_contentcontainer_imgcontainer_description2,
    .section_news_newscontainer_contentcontainer_imgcontainer_description3{
        align-self: center;
        background-color: rgba( 0, 0, 0, 0);
        color: #B7B7B7;
        font-size: 40px;
        font-weight: bold;
        width: 35%;
        left: 5%;
        height: 30%;
        position: absolute;
    }
    
    .section_news_selection_div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
    
    .section_news_selection_div_option_1{
        width: 20px;
        height: 20px;
        transition: 0.25s ease-in-out;
    }
    .section_news_selection_div_option_2{
        width: 20px;
        height: 20px;
        margin-left: 20px;
        margin-right: 20px;
        transition: 0.25s ease-in-out;
    }
    .section_news_selection_div_option_3{
        width: 20px;
        height: 20px;
        transition: 0.25s ease-in-out;
    }

    .division_1_2{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .division_1_2_line{
        width: 85%;
        background-color: #B7B7B7;
        height: 1.5px;
    }

    .section_products{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        
    }
    
    .section_products_title{
        color: #585858;
        margin-left: 70px;
        font-size: 48px;
    }
    .section_products_container_product1_name{
        display: none;
    }
    
    .section_products_container_product1{
        background-color: #006347;
        height: 500px;
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    .section_products_container_product1_imgcontainer{
        height: 100%;
        width: 100%;
        display: flex;
    }
    .section_products_container_product1_imgcontainer_elemenstcontainer{
        display: flex;
        align-items: center;
        height: 100%;
        width: 45%;
        margin-left: 2.2%;
    }
    .section_products_container_product1_imgcontainer_elemenstcontainer_arrow_left{
        stroke: white;
        height: 94px;
        width: 94px;
    }
    .section_products_container_product1_imgcontainer_elemenstcontainer_img1,
    .section_products_container_product1_imgcontainer_elemenstcontainer_img2,
    .section_products_container_product1_imgcontainer_elemenstcontainer_img3{
        background-color: gray;
        height: 50%;
        width: 30%;
        left: 10%;
    }
    .section_products_container_product1_imgcontainer_elemenstcontainer_arrow_right{
        stroke: white;
        height: 94px;
        width: 94px;
    }
    .section_products_container_product1_descriptioncontainer1,
    .section_products_container_product1_descriptioncontainer2,
    .section_products_container_product1_descriptioncontainer3{
        width: 50%;
        height: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .section_products_container_product1_description_name1,
    .section_products_container_product1_description_name2,
    .section_products_container_product1_description_name3{
        display: block;
        margin-bottom: 20px;
        width: 350px;
        text-align: center;
        font-size: 45px;
        color: white;
    }
    .section_products_container_product1_descriptioncontainer1_description,
    .section_products_container_product1_descriptioncontainer2_description,
    .section_products_container_product1_descriptioncontainer3_description{
        color: white;
        font-size: 30px;
        font-weight: 200;
        width: 50%;
        text-align: center;
    }
    .section_products_container1_descriptioncontainer_details1,
    .section_products_container1_descriptioncontainer_details2,
    .section_products_container1_descriptioncontainer_details3{
        color: white;
        font-size: 30px;
        font-weight: 800;
    }
    .section_products_product1_selection_div{
        display: flex;
        justify-content: start;
        background-color: #006347;
        width: 100%;
        height: 40px;
        margin: 0;
    
    }
    .section_products_product1_selection_div_option_1{
        margin-left: 23%;
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border-radius: 100%;
    }
    .section_products_product1_selection_div_option_1,
    .section_products_product1_selection_div_option_2,
    .section_products_product1_selection_div_option_3{
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border-radius: 100%;
    }
    .section_products_product1_selection_div_option_2{
        margin-left: 15px;
        margin-right: 15px;  
    }
    .section_products_container_product2_name{
        display: none;
    }
    .section_products_container_product2{
        width: 100%;
        margin-top: 50px;
        height: 500px;
        background-color: #FBB755;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
    }
    .section_products_container_product2_imgcontainer{
        height: 100%;
        width: 100%;
        display: flex;
    }
    .section_products_container_product2_imgcontainer_elemenstcontainer{
        display: flex;
        align-items: center;
        height: 100%;
        width: 45%;
        margin-left: 2.2%;
    }
    .section_products_container_product2_imgcontainer_elemenstcontainer_arrow_left{
        stroke: white;
        height: 94px;
        width: 94px;
    }
    .section_products_container_product2_imgcontainer_elemenstcontainer_img1,
    .section_products_container_product2_imgcontainer_elemenstcontainer_img2,
    .section_products_container_product2_imgcontainer_elemenstcontainer_img3{
        background-color: gray;
        height: 50%;
        width: 30%;
        left: 10%;
    }
    .section_products_container_product2_imgcontainer_elemenstcontainer_arrow_right{
        stroke: white;
        height: 94px;
        width: 94px;
    }
    .section_products_container_product2_descriptioncontainer1,
    .section_products_container_product2_descriptioncontainer2,
    .section_products_container_product2_descriptioncontainer3{
        width: 50%;
        height: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .section_products_container_product2_description_name1,
    .section_products_container_product2_description_name2,
    .section_products_container_product2_description_name3{
        display: block;
        margin-bottom: 20px;
        width: 350px;
        text-align: center;
        font-size: 45px;
        color: white;
    }
    .section_products_container_product2_descriptioncontainer1_description,
    .section_products_container_product2_descriptioncontainer2_description,
    .section_products_container_product2_descriptioncontainer3_description{
        color: white;
        font-size: 30px;
        font-weight: 200;
        width: 50%;
        text-align: center;
    }
    .section_products_container_product2_descriptioncontainer_details1,
    .section_products_container_product2_descriptioncontainer_details2,
    .section_products_container_product2_descriptioncontainer_details3{
        color: white;
        font-size: 30px;
        font-weight: 800;
    }
    .section_products_product1_selection_div{
        display: flex;
        justify-content: start;
        background-color: #006347;
        width: 100%;
        height: 40px;
        margin: 0;
    
    }
    .section_products_product1_selection_div_option_1{
        margin-left: 23%;
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border-radius: 100%;
    }
    .section_products_product1_selection_div_option_1,
    .section_products_product1_selection_div_option_2,
    .section_products_product1_selection_div_option_3{
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border-radius: 100%;
    }
    .section_products_product1_selection_div_option_2{
        margin-left: 15px;
        margin-right: 15px;  
    }
    
    .section_products_product2_selection_div{
        display: flex;
        justify-content: start;
        background-color:#FBB755;
        width: 100%;
        height: 40px;
        margin: 0;
    
    }
    .section_products_product2_selection_div_option_1{
        margin-left: 23%;
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border-radius: 100%;
    }
    .section_products_product2_selection_div_option_1,
    .section_products_product2_selection_div_option_2,
    .section_products_product2_selection_div_option_3{
        width: 20px;
        height: 20px;
        background-color: #D9D9D9;
        border-radius: 100%;
    }
    .section_products_product2_selection_div_option_2{
        margin-left: 15px;
        margin-right: 15px;  
    }
    .division_2_3{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .division_2_3_line{
        width: 85%;
        background-color: #B7B7B7;
        height: 1.5px;
    }
    .section_about_us{
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        transition: opacity 0.5s ease-in-out;
    }
    .section_about_us_container{
        display:flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        overflow-x: auto;
        overscroll-behavior-x: smooth;
    }
    .section_about_us_division{
        display: none;
    }
    .section_about_us_background1,
    .section_about_us_background2,
    .section_about_us_background3{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .section_about_us_background1_image,
    .section_about_us_background2_image,
    .section_about_us_background3_image{
        display: block;
        background-color: gray;
        width: 100%;
        height: 100%;
    }
    .section_about_us_background1_textcontainer,
    .section_about_us_background2_textcontainer,
    .section_about_us_background3_textcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .section_about_us_background1_title,
    .section_about_us_background2_title,
    .section_about_us_background3_title{
        font-size: 40px;
    }
    .section_about_us_background1_description,
    .section_about_us_background2_description,
    .section_about_us_background3_description{
        font-size: 30px;
        width: 75%;
    }
    .division_3{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .section_about_us_selection_div{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        margin-top: 25px;
    }
    .section_about_us_selection_div_option_1{
        background-color: gray;
        height: 20px;
        width: 20px;
        border-radius: 100%;
    }
    .section_about_us_selection_div_option_2{
        background-color: gray;
        height: 20px;
        width: 20px;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 100%;
    }
    .section_about_us_selection_div_option_3{
        background-color: gray;
        height: 20px;
        width: 20px;
        border-radius: 100%;
    }
    .section_gallery{
        transition: opacity 0.5s ease-in-out;
    }
    .section_gallery_container_title{
        font-size: 40px;
        margin-left: 70px;
    }
    .section_gallery_imgcontainer{
        display: block;
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: space-around;

    }
    .section_gallery_imgcontainer_img1container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16%;
        height: 100%;
        background-color: #006347;
    }
    .section_gallery_imgcontainer_img2container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16%;
        height: 100%;
        background-color: #FBB755;
    }
    .section_gallery_imgcontainer_img3container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16%;
        height: 100%;
        background-color: #006347;
    }
    .section_gallery_imgcontainer_img4container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16%;
        height: 100%;
        background-color: #FBB755;
    }
    .section_gallery_imgcontainer_img1container_img,
    .section_gallery_imgcontainer_img2container_img,
    .section_gallery_imgcontainer_img3container_img,
    .section_gallery_imgcontainer_img4container_img{
        background-color: gray;
        width: 85%;
        height: 85%;
        transition: 0.25s ease-in-out;
    }
    .section_gallery_imgcontainer_img1container_img:hover,
    .section_gallery_imgcontainer_img2container_img:hover,
    .section_gallery_imgcontainer_img3container_img:hover,
    .section_gallery_imgcontainer_img4container_img:hover{
        width: 100%;
        height: 100%;
    }
    .section_contact{
        margin-top: 20px;
    }
    .section_contact_container_socialmedia{
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
    .section_contact_container_whatsapp_copyright{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .section_contact_container_socialmedia_tiktok_paragraph,
    .section_contact_container_socialmedia_twitter_paragraph,
    .section_contact_container_socialmedia_instagram_paragraph,
    .section_contact_container_socialmedia_facebook_paragraph{
        display: block;
    }
}

@keyframes palpitacion {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes shake_icon {
    20%{
        transform: rotate(0deg);
    }
    22.5%{
        transform: rotate(10deg);
    }
    27.5%{
        transform: rotate(-10deg);
    }
    30%{
        transform: rotate(0deg);
    }
}
.aparecer {
    opacity: 100%;
}
.selection_green{
    background-color: #006347;
    transform: scale(1.5);
}
.selection_peach{
    background-color:#FBB755;
    transform: scale(1.5);
}
.selection_yellow{
    background-color: #eeff06;
    transform: scale(1.5);
}